openapi: 3.1.0
info:
  title: Mixedbread admin stores API
  version: 0.1.0
  description: Mixedbread admin endpoints extracted from the canonical OpenAPI spec at https://api.mixedbread.com/openapi.json
servers:
- url: https://api.mixedbread.com
  description: mixedbread ai production server
- url: https://api.dev.mixedbread.com
  description: mixedbread ai development server
- url: http://127.0.0.1:8000
  description: mixedbread local server
- url: http://localhost:8000
  description: mixedbread local server
tags:
- name: stores
paths:
  /v1/stores/{store_identifier}/events:
    get:
      tags:
      - stores
      summary: List events for a store
      description: "List events for a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    options: The pagination options.\n\nReturns:\n    StoreEventListResponse: The list of events for the store."
      operationId: list_store_events
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of items to return per page (1-100)
          examples:
          - 10
          - 20
          - 50
          default: 20
          title: Limit
        description: Maximum number of items to return per page (1-100)
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for forward pagination - get items after this position. Use last_cursor from previous response.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ==
          title: After
        description: Cursor for forward pagination - get items after this position. Use last_cursor from previous response.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for backward pagination - get items before this position. Use first_cursor from previous response.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ==
          title: Before
        description: Cursor for backward pagination - get items before this position. Use first_cursor from previous response.
      - name: include_total
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to include total count in response (expensive operation)
          examples:
          - false
          - true
          default: false
          title: Include Total
        description: Whether to include total count in response (expensive operation)
      - name: filter_before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Time to filter events before
          title: Filter Before
        description: Time to filter events before
      - name: filter_after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Time to filter events after
          title: Filter After
        description: Time to filter events after
      - name: event_type
        in: query
        required: true
        schema:
          enum:
          - ingestion
          - search
          - agentic_search
          type: string
          description: The type of event to list
          examples:
          - ingestion
          - search
          - agentic_search
          title: Event Type
        description: The type of event to list
      responses:
        '200':
          description: The list of events for the store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreEventListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/events/histogram:
    post:
      tags:
      - stores
      summary: Get store event histogram
      description: "Get histogram of store events over time.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    histogram_params: Parameters for histogram generation.\n\nReturns:\n    StoreEventHistogramResponse: The event histogram."
      operationId: get_store_event_histogram
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreEventHistogramParams'
      responses:
        '200':
          description: Histogram of store events over time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreEventHistogramResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/files:
    post:
      tags:
      - stores
      summary: Upload file to store
      description: "Upload a file to a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_add_params: The file to add to the store.\n\nReturns:\n    VectorStoreFile: The uploaded file details."
      operationId: create_store_file
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeprecatedStoreFileUpsertParams'
              description: The file to add to the store
      responses:
        '201':
          description: The uploaded store file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFile'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - stores
      summary: '[DEPRECATED] List store files'
      description: 'DEPRECATED: Use POST /stores/{store_identifier}/files/list instead'
      operationId: list_store_files
      deprecated: true
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of items to return per page (1-100)
          examples:
          - 10
          - 20
          - 50
          default: 20
          title: Limit
        description: Maximum number of items to return per page (1-100)
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for forward pagination - get items after this position. Use last_cursor from previous response.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ==
          title: After
        description: Cursor for forward pagination - get items after this position. Use last_cursor from previous response.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for backward pagination - get items before this position. Use first_cursor from previous response.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ==
          title: Before
        description: Cursor for backward pagination - get items before this position. Use first_cursor from previous response.
      - name: include_total
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to include total count in response (expensive operation)
          examples:
          - false
          - true
          default: false
          title: Include Total
        description: Whether to include total count in response (expensive operation)
      - name: statuses
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/StoreFileStatus'
          - type: 'null'
          description: Status to filter by
          title: Statuses
        description: Status to filter by
      responses:
        '200':
          description: The list of store files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFileListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/files/upload:
    post:
      tags:
      - stores
      summary: Upload file via form to store
      description: "Upload a file via form to a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    config: The config for the file.\n    metadata: The metadata for the file.\n    file: The file to upload.\n\nReturns:\n    VectorStoreFile: The uploaded file details."
      operationId: upload_store_file
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_store_file'
      responses:
        '201':
          description: The uploaded store file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFile'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/files/list:
    post:
      tags:
      - stores
      summary: List store files with metadata filter
      description: "List files indexed in a vector store with pagination and metadata filter.\n\nArgs:\n    vector_store_identifier: The ID or name of the vector store\n    pagination: Pagination parameters and metadata filter\n\nReturns:\n    VectorStoreFileListResponse: Paginated list of vector store files"
      operationId: list_store_files_with_metadata_filter
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCursorPagination'
              description: For pagination
      responses:
        '200':
          description: List of files in the store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFileListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/files/{file_identifier}:
    get:
      tags:
      - stores
      summary: Get store file
      description: "Get a file from a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_id: The ID or name of the file.\n    options: Get file options.\n\nReturns:\n    VectorStoreFile: The file details."
      operationId: retrieve_store_file
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: file_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the file
          title: File Identifier
        description: The ID or name of the file
      - name: return_chunks
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: array
            items:
              type: integer
          description: Whether to return the chunks for the file. If a list of integers is provided, only the chunks at the specified indices will be returned.
          default: false
          title: Return Chunks
        description: Whether to return the chunks for the file. If a list of integers is provided, only the chunks at the specified indices will be returned.
      responses:
        '200':
          description: The store file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFile'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - stores
      summary: Update store file metadata
      description: "Update metadata on a file within a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_identifier: The ID or name of the file to update.\n    update_params: Metadata update payload.\n\nReturns:\n    StoreFile: The updated file details."
      operationId: update_store_file
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: file_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the file to update
          title: File Identifier
        description: The ID or name of the file to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreFileMetadataUpdateParams'
              description: Fields to update for the store file
      responses:
        '200':
          description: The updated store file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFile'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - stores
      summary: Delete store file
      description: "Delete a file from a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_id: The ID or name of the file to delete.\n\nReturns:\n    VectorStoreFileDeleted: The deleted file details."
      operationId: delete_store_file
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: file_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the file to delete
          title: File Identifier
        description: The ID or name of the file to delete
      responses:
        '200':
          description: The deleted store file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFileDeleted'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/rules:
    post:
      tags:
      - stores
      summary: Create search rule
      description: "Create a new search rule for a store.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_create: Search rule creation parameters\n\nReturns:\n    SearchRuleResponse: The created search rule details"
      operationId: create_search_rule
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleCreateParams'
              description: The search rule to create
      responses:
        '201':
          description: The created search rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/rules/{rule_id}:
    get:
      tags:
      - stores
      summary: Get a search rule
      description: "Get a search rule by ID.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule to retrieve\n\nReturns:\n    SearchRuleResponse: The search rule details"
      operationId: retrieve_search_rule
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The ID of the search rule
          title: Rule Id
        description: The ID of the search rule
      responses:
        '200':
          description: The search rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - stores
      summary: Update a search rule
      description: "Update a search rule by ID.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule to update\n    rule_update: SearchRuleUpdateParams object containing the fields to update\n\nReturns:\n    SearchRuleResponse: The updated search rule details"
      operationId: update_search_rule
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The ID of the search rule to update
          title: Rule Id
        description: The ID of the search rule to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleUpdateParams'
              description: The fields to update
      responses:
        '200':
          description: The updated search rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - stores
      summary: Delete a search rule
      description: "Delete a search rule by ID.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule to delete\n\nReturns:\n    SearchRuleDeleted: The deleted search rule details"
      operationId: delete_search_rule
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The ID of the search rule to delete
          title: Rule Id
        description: The ID of the search rule to delete
      responses:
        '200':
          description: The deleted search rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleDeleted'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}/rules/{rule_id}/specific:
    delete:
      tags:
      - stores
      summary: Delete a specific rule from rules array
      description: "Delete a specific rule from within a search rule's rules array.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule containing the rule to delete\n    rule_delete: The specific rule to delete from the rules array\n\nReturns:\n    SearchRuleSpecificDeleted: Details about the deletion operation"
      operationId: delete_specific_search_rule
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The ID of the search rule
          title: Rule Id
        description: The ID of the search rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleSpecificDeleteParams'
              description: The specific rule to delete
      responses:
        '200':
          description: The updated search rule after deleting specific rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleSpecificDeleted'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores:
    post:
      tags:
      - stores
      summary: Create a store
      description: "Create a new vector store.\n\nArgs:\n    vector_store_create: VectorStoreCreate object containing the name, description, and metadata.\n\nReturns:\n    VectorStore: The response containing the created vector store details."
      operationId: create_store
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCreateParams'
              description: The store details for creation
      responses:
        '201':
          description: The details of the created store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - stores
      summary: List stores
      description: "List all stores with optional search.\n\nArgs:\n    pagination: The pagination options.\n    q: Optional search query to filter vector stores.\n\nReturns:\n    StoreListResponse: The list of stores."
      operationId: list_stores
      security:
      - ApiKeyAuth: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of items to return per page (1-100)
          examples:
          - 10
          - 20
          - 50
          default: 20
          title: Limit
        description: Maximum number of items to return per page (1-100)
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for forward pagination - get items after this position. Use last_cursor from previous response.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ==
          title: After
        description: Cursor for forward pagination - get items after this position. Use last_cursor from previous response.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for backward pagination - get items before this position. Use first_cursor from previous response.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ==
          title: Before
        description: Cursor for backward pagination - get items before this position. Use first_cursor from previous response.
      - name: include_total
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to include total count in response (expensive operation)
          examples:
          - false
          - true
          default: false
          title: Include Total
        description: Whether to include total count in response (expensive operation)
      - name: q
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 1
            maxLength: 255
          - type: 'null'
          description: Search query for fuzzy matching over name and description fields
          title: Q
        description: Search query for fuzzy matching over name and description fields
      responses:
        '200':
          description: The list of stores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/{store_identifier}:
    get:
      tags:
      - stores
      summary: Get a store
      description: "Get a store by ID or name.\n\nArgs:\n    store_identifier: The ID or name of the store to retrieve.\n\nReturns:\n    Store: The response containing the store details."
      operationId: retrieve_store
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      responses:
        '200':
          description: The details of the store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - stores
      summary: Update a store
      description: "Update a store by ID or name.\n\nArgs:\n    store_identifier: The ID or name of the store to update.\n    store_update: StoreCreate object containing the name, description, and metadata.\n\nReturns:\n    Store: The response containing the updated store details."
      operationId: update_store
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store
          title: Store Identifier
        description: The ID or name of the store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreUpdateParams'
              description: The fields to update
      responses:
        '200':
          description: The details of the updated store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - stores
      summary: Delete a store
      description: "Delete a store by ID or name.\n\nArgs:\n    store_identifier: The ID or name of the store to delete.\n\nReturns:\n    Store: The response containing the deleted store details."
      operationId: delete_store
      security:
      - ApiKeyAuth: []
      parameters:
      - name: store_identifier
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: string
            format: uuid
          description: The ID or name of the store to delete
          title: Store Identifier
        description: The ID or name of the store to delete
      responses:
        '200':
          description: The details of the deleted store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreDeleted'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stores/search:
    post:
      tags:
      - stores
      summary: Perform semantic search across store chunks
      description: "Perform semantic search across store chunks.\n\nThis endpoint searches through store chunks using semantic similarity matching.\nIt supports complex search queries with filters and returns relevance-scored results.\n\nFor the special 'mixedbread/web' store, this endpoint performs web search using\na mixture of different providers instead of semantic search. Web search results are always\nreranked for consistent scoring.\n\nArgs:\n    search_params: Search configuration including:\n        - query text or embeddings\n        - store_identifiers: List of store identifiers to search\n        - file_ids: Optional list of file IDs to filter chunks by (or tuple of list and condition operator)\n        - metadata filters\n        - pagination parameters\n        - sorting preferences\n    _state: API state dependency\n    _ctx: Service context dependency\n\nReturns:\n    StoreSearchResponse containing:\n        - List of matched chunks with relevance scores\n        - Pagination details including total result count\n\nRaises:\n    HTTPException (400): If search parameters are invalid\n    HTTPException (404): If no vector stores are found to search"
      operationId: search_store_chunks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreChunkSearchParams'
              description: Search parameters including query text, filters and pagination options
        required: true
      responses:
        '200':
          description: List of semantically similar chunks with relevance scores and pagination details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreSearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ApiKeyAuth: []
  /v1/stores/grep:
    post:
      tags:
      - stores
      summary: Match store chunks against a regular expression
      description: "Match store chunks against a regular expression.\n\nUnlike `/stores/search`, this performs exact text matching — no embeddings, no\nsemantic similarity, no reranking. Use it to find chunks containing a specific\ntoken, identifier, error code, or literal phrase.\n\ngrep targets a single store and does not support pagination; raise `top_k` to\nretrieve more matches.\n\nArgs:\n    grep_params: Grep configuration including:\n        - pattern: RE2 regular expression matched against chunk text\n        - targets: chunk content groups to match (`text`, `generated`)\n        - case_sensitive: whether the pattern is case-sensitive\n        - store_identifiers: the single store to grep\n        - file_ids: optional list of file IDs to filter chunks by\n        - filters: optional metadata filter conditions\n        - top_k: number of matches to return\n\nReturns:\n    StoreGrepResponse containing the list of matching chunks.\n\nRaises:\n    HTTPException (400): If grep parameters are invalid\n    HTTPException (404): If the store is not found"
      operationId: grep_store_chunks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreChunkGrepParams'
              description: Grep parameters including the regular expression pattern, targets and filters
        required: true
      responses:
        '200':
          description: List of chunks whose text matches the pattern
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreGrepResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ApiKeyAuth: []
  /v1/stores/list-chunks:
    post:
      tags:
      - stores
      summary: List store chunks by metadata filter and numeric ranking
      description: "List store chunks purely by metadata filters — no embeddings, no semantic similarity, no reranking.\n\nUnlike `/stores/search`, this endpoint does not require a query and never runs a vector lookup.\nIt returns chunks whose file and chunk metadata satisfy `filters`, optionally ordered by a\nnumeric metadata field via `sort_by`. Useful for ranked retrieval over numeric attributes\n(e.g. price, BPM) and for reproducing the agentic `filter_chunks` tool externally.\n\nlist-chunks targets a single store and does not support pagination; raise `top_k` to\nretrieve more chunks.\n\nArgs:\n    filter_params: Filter configuration including:\n        - store_identifiers: the single store to filter against\n        - filters: optional metadata filter conditions\n        - file_ids: optional list of file IDs to filter chunks by\n        - sort_by: optional metadata field path, or `(field, ascending)` tuple, for numeric ordering\n        - top_k: number of chunks to return\n\nReturns:\n    StoreListChunksResponse containing the list of matching chunks.\n\nRaises:\n    HTTPException (400): If filter parameters are invalid or multiple stores are passed\n    HTTPException (404): If the store is not found"
      operationId: list_store_chunks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreChunkFilterParams'
              description: Filter parameters including metadata filters, optional numeric sort, and pagination options
        required: true
      responses:
        '200':
          description: List of chunks matching the metadata filters, optionally ordered by a numeric metadata field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreListChunksResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ApiKeyAuth: []
  /v1/stores/question-answering:
    post:
      tags:
      - stores
      summary: Question answering
      operationId: create_question_answering
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreQAParams'
              description: The question answering query
        required: true
      responses:
        '200':
          description: The answer to the question
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreQAResults'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ApiKeyAuth: []
  /v1/stores/queries/enhance:
    post:
      tags:
      - stores
      summary: Enhance a search query
      description: Extract metadata filters and ranking preferences from a search query.
      operationId: enhance_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryEnhanceParams'
              description: Search query and enhancement options
        required: true
      responses:
        '200':
          description: A single enhanced query item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryEnhanceResults'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ApiKeyAuth: []
  /v1/stores/metadata-facets:
    post:
      tags:
      - stores
      summary: Get metadata facets
      operationId: get_metadata_facets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataFacetsParams'
              description: The parameters for getting metadata facets
        required: true
      responses:
        '200':
          description: The metadata facets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataFacets'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ApiKeyAuth: []
components:
  schemas:
    FileSearchResultRule:
      properties:
        query:
          type: string
          title: Query
          description: The query to trigger the rule
        store_id:
          type: string
          title: Store Id
          description: The store identifier to apply the rule to
        type:
          type: string
          const: file_search_result
          title: Type
          description: The type of substitution
        file_id:
          type: string
          title: File Id
          description: The file ID of the file to substitute
        chunk_index:
          type: integer
          minimum: 0.0
          title: Chunk Index
          description: An optional chunk index to use for the chunk substitution
          default: 0
        result_index:
          type: integer
          minimum: 0.0
          title: Result Index
          description: The index where the result will be inserted
      type: object
      required:
      - query
      - store_id
      - type
      - file_id
      - result_index
      title: FileSearchResultRule
      description: Represents a file search result rule for a vector store search.
    ContextualizationConfig:
      properties:
        with_metadata:
          anyOf:
          - type: boolean
          - items:
              type: string
            type: array
          title: With Metadata
          description: Include all metadata or specific fields in the contextualization. Supports dot notation for nested fields (e.g., 'author.name'). When True, all metadata is included (flattened). When a list, only specified fields are included.
          default: false
          examples:
          - true
          - false
          - - title
            - author.name
            - author.email
            - tags
        with_file_context:
          type: boolean
          title: With File Context
          description: Use an LLM to generate a short context for each text chunk that situates it within the full document, improving retrieval accuracy. Only applies to text content during non-sliced ingestion.
          default: false
      type: object
      title: ContextualizationConfig
    ImageUrlInputChunk:
      properties:
        chunk_index:
          type: integer
          title: Chunk Index
          description: position of the chunk in a file
          examples:
          - 0
          - 1
          - 2
          - 3
          - 4
        mime_type:
          type: string
          title: Mime Type
          description: mime type of the chunk
          default: image/jpeg
          examples:
          - image/jpeg
        generated_metadata:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MarkdownChunkGeneratedMetadata'
            - $ref: '#/components/schemas/TextChunkGeneratedMetadata'
            - $ref: '#/components/schemas/PDFChunkGeneratedMetadata'
            - $ref: '#/components/schemas/CodeChunkGeneratedMetadata'
            - $ref: '#/components/schemas/AudioChunkGeneratedMetadata'
            - $ref: '#/components/schemas/VideoChunkGeneratedMetadata'
            - $ref: '#/components/schemas/ImageChunkGeneratedMetadata'
            discriminator:
              propertyName: type
              mapping:
                audio: '#/components/schemas/AudioChunkGeneratedMetadata'
                code: '#/components/schemas/CodeChunkGeneratedMetadata'
                image: '#/components/schemas/ImageChunkGeneratedMetadata'
                markdown: '#/components/schemas/MarkdownChunkGeneratedMetadata'
                pdf: '#/components/schemas/PDFChunkGeneratedMetadata'
                text: '#/components/schemas/TextChunkGeneratedMetadata'
                video: '#/components/schemas/VideoChunkGeneratedMetadata'
          - type: 'null'
          title: Generated Metadata
          description: metadata of the chunk
          examples:
          - file_size: 1024
            file_type: text/plain
            language: en
            type: text
            word_count: 100
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: model used for this chunk
          examples:
          - text-embedding-ada-002
          - clip-vit-large-patch14
        type:
          type: string
          const: image_url
          title: Type
          description: Input type identifier
          default: image_url
        ocr_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Ocr Text
          description: ocr text of the image
          examples:
          - 2025 Financial Report
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: summary of the image
          examples:
          - A financial report for 2025
        image_url:
          anyOf:
          - $ref: '#/components/schemas/ImageUrl-Output'
          - type: 'null'
          description: Image URL
      type: object
      required:
      - chunk_index
      title: ImageUrlInputChunk
    StoreGrepResponse:
      properties:
        object:
          type: string
          const: list
          title: Object
          description: The object type of the response
          default: list
        data:
          items:
            oneOf:
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredTextInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredImageUrlInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredAudioUrlInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredVideoUrlInputChunk'
            discriminator:
              propertyName: type
              mapping:
                audio_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredAudioUrlInputChunk'
                image_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredImageUrlInputChunk'
                text: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredTextInputChunk'
                video_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredVideoUrlInputChunk'
          type: array
          title: Data
          description: The list of chunks matching the pattern
      type: object
      required:
      - data
      title: StoreGrepResponse
    StoreFileParsingStrategy:
      type: string
      enum:
      - fast
      - high_quality
      title: StoreFileParsingStrategy
      description: Strategy for adding a file to a store.
    SearchFilter-Output:
      properties:
        all:
          anyOf:
          - items:
              anyOf:
              - $ref: '#/components/schemas/SearchFilter-Output'
              - $ref: '#/components/schemas/SearchFilterCondition'
            type: array
          - type: 'null'
          title: All
          description: List of conditions or filters to be ANDed together
          examples:
          - - key: price
              operator: gt
              value: '100'
            - key: color
              operator: eq
              value: red
          - null
        any:
          anyOf:
          - items:
              anyOf:
              - $ref: '#/components/schemas/SearchFilter-Output'
              - $ref: '#/components/schemas/SearchFilterCondition'
            type: array
          - type: 'null'
          title: Any
          description: List of conditions or filters to be ORed together
          examples:
          - - key: price
              operator: gt
              value: '100'
            - key: color
              operator: eq
              value: red
          - null
        none:
          anyOf:
          - items:
              anyOf:
              - $ref: '#/components/schemas/SearchFilter-Output'
              - $ref: '#/components/schemas/SearchFilterCondition'
            type: array
          - type: 'null'
          title: None
          description: List of conditions or filters to be NOTed
          examples:
          - - key: price
              operator: gt
              value: '100'
            - key: color
              operator: eq
              value: red
          - null
      type: object
      title: SearchFilter
      description: Represents a filter with AND, OR, and NOT conditions.
    StoreChunkGrepParams:
      properties:
        store_identifiers:
          items:
            anyOf:
            - type: string
            - type: string
              format: uuid
          type: array
          maxItems: 16
          minItems: 1
          title: Store Identifiers
          description: IDs or names of stores
        top_k:
          type: integer
          minimum: 1.0
          title: Top K
          description: Number of results to return
          default: 10
        filters:
          anyOf:
          - $ref: '#/components/schemas/SearchFilter-Input'
          - $ref: '#/components/schemas/SearchFilterCondition'
          - items:
              anyOf:
              - $ref: '#/components/schemas/SearchFilter-Input'
              - $ref: '#/components/schemas/SearchFilterCondition'
            type: array
          - type: 'null'
          title: Filters
          description: Optional filter conditions
        file_ids:
          anyOf:
          - prefixItems:
            - $ref: '#/components/schemas/ConditionOperator'
            - items:
                type: string
                format: uuid
              type: array
            type: array
            maxItems: 2
            minItems: 2
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: File Ids
          description: Optional list of file IDs to filter chunks by (inclusion filter)
          examples:
          - - 123e4567-e89b-12d3-a456-426614174000
            - 123e4567-e89b-12d3-a456-426614174001
          - - in
            - - 123e4567-e89b-12d3-a456-426614174000
          - - not_in
            - - 123e4567-e89b-12d3-a456-426614174000
        pattern:
          type: string
          maxLength: 1024
          minLength: 1
          title: Pattern
          description: Regular expression (RE2 syntax) matched against chunk text
          examples:
          - ERR-\d{4}
          - invoice|receipt
        targets:
          items:
            $ref: '#/components/schemas/StoreChunkGrepTarget'
          type: array
          minItems: 1
          title: Targets
          description: Chunk content groups to match against. `text` matches the original text of text chunks; `generated` matches ingestion-derived fields (transcription, OCR text, summaries).
        case_sensitive:
          type: boolean
          title: Case Sensitive
          description: Whether the regular expression is case-sensitive
          default: false
        return_metadata:
          type: boolean
          title: Return Metadata
          description: Whether to return file metadata
          default: true
      type: object
      required:
      - store_identifiers
      - pattern
      title: StoreChunkGrepParams
      description: 'Parameters for matching store chunks against a regular expression.


        Unlike semantic search, grep performs exact text matching — no embeddings, no

        reranking. It finds chunks whose literal text contains the pattern.'
    mxbai_omni__core__store__models__chunk_types__ScoredVideoUrlInputChunk:
      properties:
        chunk_index:
          type: integer
          title: Chunk Index
          description: position of the chunk in a file
          examples:
          - 0
          - 1
          - 2
          - 3
          - 4
        mime_type:
          type: string
          title: Mime Type
          description: mime type of the chunk
          default: video/mp4
          examples:
          - video/mp4
        generated_metadata:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MarkdownChunkGeneratedMetadata'
            - $ref: '#/components/schemas/TextChunkGeneratedMetadata'
            - $ref: '#/components/schemas/PDFChunkGeneratedMetadata'
            - $ref: '#/components/schemas/CodeChunkGeneratedMetadata'
            - $ref: '#/components/schemas/AudioChunkGeneratedMetadata'
            - $ref: '#/components/schemas/VideoChunkGeneratedMetadata'
            - $ref: '#/components/schemas/ImageChunkGeneratedMetadata'
            discriminator:
              propertyName: type
              mapping:
                audio: '#/components/schemas/AudioChunkGeneratedMetadata'
                code: '#/components/schemas/CodeChunkGeneratedMetadata'
                image: '#/components/schemas/ImageChunkGeneratedMetadata'
                markdown: '#/components/schemas/MarkdownChunkGeneratedMetadata'
                pdf: '#/components/schemas/PDFChunkGeneratedMetadata'
                text: '#/components/schemas/TextChunkGeneratedMetadata'
                video: '#/components/schemas/VideoChunkGeneratedMetadata'
          - type: 'null'
          title: Generated Metadata
          description: metadata of the chunk
          examples:
          - file_size: 1024
            file_type: text/plain
            language: en
            type: text
            word_count: 100
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: model used for this chunk
          examples:
          - text-embedding-ada-002
          - clip-vit-large-patch14
        score:
          type: number
          title: Score
          description: score of the chunk
          examples:
          - 0.5
        file_id:
          type: string
          title: File Id
          description: file id
          examples:
          - file1
        filename:
          type: string
          title: Filename
          description: filename
          examples:
          - file1
        store_id:
          type: string
          title: Store Id
          description: store id
          examples:
          - store1
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: external identifier for this file
          examples:
          - ext-123
        metadata:
          anyOf:
          - {}
          - type: 'null'
          title: Metadata
          description: file metadata
          examples:
          - key: value
        type:
          type: string
          const: video_url
          title: Type
          description: Input type identifier
          default: video_url
        transcription:
          anyOf:
          - type: string
          - type: 'null'
          title: Transcription
          description: speech recognition (sr) text of the video
          examples:
          - The year 2025 reports for ..
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: summary of the video
          examples:
          - A financial report video for 2025
        video_url:
          anyOf:
          - $ref: '#/components/schemas/VideoUrl'
          - type: 'null'
          description: Video URL
      type: object
      required:
      - chunk_index
      - score
      - file_id
      - filename
      - store_id
      title: ScoredVideoUrlInputChunk
    MetadataFacetsParams:
      properties:
        store_identifiers:
          items:
            anyOf:
            - type: string
            - type: string
              format: uuid
          type: array
          maxItems: 16
          minItems: 1
          title: Store Identifiers
          description: IDs or names of stores
        top_k:
          type: integer
          minimum: 1.0
          title: Top K
          description: Number of results to return
          default: 10
        filters:
          anyOf:
          - $ref: '#/components/schemas/SearchFilter-Input'
          - $ref: '#/components/schemas/SearchFilterCondition'
          - items:
              anyOf:
              - $ref: '#/components/schemas/SearchFilter-Input'
              - $ref: '#/components/schemas/SearchFilterCondition'
            type: array
          - type: 'null'
          title: Filters
          description: Optional filter conditions
        file_ids:
          anyOf:
          - prefixItems:
            - $ref: '#/components/schemas/ConditionOperator'
            - items:
                type: string
                format: uuid
              type: array
            type: array
            maxItems: 2
            minItems: 2
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: File Ids
          description: Optional list of file IDs to filter chunks by (inclusion filter)
          examples:
          - - 123e4567-e89b-12d3-a456-426614174000
            - 123e4567-e89b-12d3-a456-426614174001
          - - in
            - - 123e4567-e89b-12d3-a456-426614174000
          - - not_in
            - - 123e4567-e89b-12d3-a456-426614174000
        query:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Query
          description: Search query text
          examples:
          - how to configure SSL
        search_options:
          $ref: '#/components/schemas/StoreChunkSearchOptions'
          description: Search configuration options
        facets:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Facets
          description: Optional list of facets to return. Use dot for nested fields.
          examples:
          - author
          - year
          - author.name
        max_fields:
          type: integer
          maximum: 256.0
          minimum: 1.0
          title: Max Fields
          description: Maximum number of distinct metadata fields (keys) to return.
          default: 64
        max_values_per_field:
          type: integer
          maximum: 256.0
          minimum: 1.0
          title: Max Values Per Field
          description: Maximum number of distinct values returned per field, ranked by count.
          default: 32
        max_files:
          type: integer
          maximum: 100000.0
          minimum: 1.0
          title: Max Files
          description: Maximum number of store files scanned to compute facets.
          default: 10000
      type: object
      required:
      - store_identifiers
      title: MetadataFacetsParams
      description: Parameters for getting metadata facets.
    mxbai_omni__core__store__models__chunk_types__ScoredTextInputChunk:
      properties:
        chunk_index:
          type: integer
          title: Chunk Index
          description: position of the chunk in a file
          examples:
          - 0
          - 1
          - 2
          - 3
          - 4
        mime_type:
          type: string
          title: Mime Type
          description: mime type of the chunk
          default: text/plain
          examples:
          - text/plain
        generated_metadata:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MarkdownChunkGeneratedMetadata'
            - $ref: '#/components/schemas/TextChunkGeneratedMetadata'
            - $ref: '#/components/schemas/PDFChunkGeneratedMetadata'
            - $ref: '#/components/schemas/CodeChunkGeneratedMetadata'
            - $ref: '#/components/schemas/AudioChunkGeneratedMetadata'
            - $ref: '#/components/schemas/VideoChunkGeneratedMetadata'
            - $ref: '#/components/schemas/ImageChunkGeneratedMetadata'
            discriminator:
              propertyName: type
              mapping:
                audio: '#/components/schemas/AudioChunkGeneratedMetadata'
                code: '#/components/schemas/CodeChunkGeneratedMetadata'
                image: '#/components/schemas/ImageChunkGeneratedMetadata'
                markdown: '#/components/schemas/MarkdownChunkGeneratedMetadata'
                pdf: '#/components/schemas/PDFChunkGeneratedMetadata'
                text: '#/components/schemas/TextChunkGeneratedMetadata'
                video: '#/components/schemas/VideoChunkGeneratedMetadata'
          - type: 'null'
          title: Generated Metadata
          description: metadata of the chunk
          examples:
          - file_size: 1024
            file_type: text/plain
            language: en
            type: text
            word_count: 100
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: model used for this chunk
          examples:
          - text-embedding-ada-002
          - clip-vit-large-patch14
        score:
          type: number
          title: Score
          description: score of the chunk
          examples:
          - 0.5
        file_id:
          type: string
          title: File Id
          description: file id
          examples:
          - file1
        filename:
          type: string
          title: Filename
          description: filename
          examples:
          - file1
        store_id:
          type: string
          title: Store Id
          description: store id
          examples:
          - store1
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: external identifier for this file
          examples:
          - ext-123
        metadata:
          anyOf:
          - {}
          - type: 'null'
          title: Metadata
          description: file metadata
          examples:
          - key: value
        type:
          type: string
          const: text
          title: Type
          description: Input type identifier
          default: text
        offset:
          type: integer
          title: Offset
          description: The offset of the text in the file relative to the start of the file.
          default: 0
          examples:
          - 0
          - 13
          - 42
        text:
          anyOf:
          - type: string
          - type: 'null'
          title: Text
          description: Text content
        context:
          anyOf:
          - type: string
          - type: 'null'
          title: Context
          description: LLM-generated context that situates this chunk within its source document
          examples:
          - This chunk is from an SEC filing on ACME corp's Q2 2023 performance.
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: summary of the text chunk
          examples:
          - A short overview of ACME's Q2 2023 performance.
      type: object
      required:
      - chunk_index
      - score
      - file_id
      - filename
      - store_id
      title: ScoredTextInputChunk
    ExpiresAfter:
      properties:
        anchor:
          type: string
          const: last_active_at
          title: Anchor
          description: Anchor date for the expiration policy
          default: last_active_at
        days:
          type: integer
          title: Days
          description: Number of days after which the store expires
          default: 30
      type: object
      title: ExpiresAfter
      description: Represents an expiration policy for a store.
    StoreEventHistogramResponse:
      properties:
        object:
          type: string
          const: store.histogram
          title: Object
          description: The object type of the response
          default: store.histogram
        data:
          items:
            $ref: '#/components/schemas/StoreEventHistogramBucket'
          type: array
          title: Data
          description: The histogram of store events
      type: object
      required:
      - data
      title: StoreEventHistogramResponse
    StoreListResponse:
      properties:
        pagination:
          $ref: '#/components/schemas/CursorPaginationResponse'
        object:
          type: string
          const: list
          title: Object
          description: The object type of the response
          default: list
        data:
          items:
            $ref: '#/components/schemas/Store'
          type: array
          title: Data
          description: The list of stores
      type: object
      required:
      - pagination
      - data
      title: StoreListResponse
    MarkdownChunkGeneratedMetadata:
      properties:
        type:
          type: string
          const: markdown
          title: Type
          default: markdown
        file_type:
          type: string
          const: text/markdown
          title: File Type
          default: text/markdown
        language:
          anyOf:
          - type: string
          - type: 'null'
          title: Language
        word_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Word Count
        file_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: File Size
        chunk_headings:
          items:
            $ref: '#/components/schemas/MarkdownHeading'
          type: array
          title: Chunk Headings
        heading_context:
          items:
            $ref: '#/components/schemas/MarkdownHeading'
          type: array
          title: Heading Context
        start_line:
          type: integer
          title: Start Line
          default: 0
        num_lines:
          type: integer
          title: Num Lines
          default: 0
        file_extension:
          anyOf:
          - type: string
          - type: 'null'
          title: File Extension
        frontmatter:
          additionalProperties: true
          type: object
          title: Frontmatter
      additionalProperties: true
      type: object
      title: MarkdownChunkGeneratedMetadata
    StoreChunkGrepTarget:
      type: string
      enum:
      - text
      - generated
      title: StoreChunkGrepTarget
      description: "Logical chunk content groups the grep tool can match against.\n\nThese map to one or more underlying chunk fields:\n\n- ``text``      → text chunks' ``text`` field (original text content).\n- ``generated`` → fields produced during ingestion (``transcription`` for audio/video,\n  ``ocr_text`` for images, and ``summary`` across modalities)."
    CursorPaginationResponse:
      properties:
        has_more:
          type: boolean
          title: Has More
          description: 'Contextual direction-aware flag: True if more items exist in the requested pagination direction. For ''after'': more items after this page. For ''before'': more items before this page.'
          examples:
          - true
          - false
        first_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: First Cursor
          description: Cursor of the first item in this page. Use for backward pagination. None if page is empty.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ==
          - null
        last_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Cursor
          description: Cursor of the last item in this page. Use for forward pagination. None if page is empty.
          examples:
          - eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMFQyMzo1OTo1OS4wMDBaIiwiaWQiOiJ4eXo3ODkifQ==
          - null
        total:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total
          description: Total number of items available across all pages. Only included when include_total=true was requested. Expensive operation - use sparingly.
          examples:
          - 42
          - 0
          - null
      type: object
      required:
      - has_more
      - first_cursor
      - last_cursor
      title: CursorPaginationResponse
      description: Response model for cursor-based pagination.
    VideoUrlInputChunk:
      properties:
        chunk_index:
          type: integer
          title: Chunk Index
          description: position of the chunk in a file
          examples:
          - 0
          - 1
          - 2
          - 3
          - 4
        mime_type:
          type: string
          title: Mime Type
          description: mime type of the chunk
          default: video/mp4
          examples:
          - video/mp4
        generated_metadata:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MarkdownChunkGeneratedMetadata'
            - $ref: '#/components/schemas/TextChunkGeneratedMetadata'
            - $ref: '#/components/schemas/PDFChunkGeneratedMetadata'
            - $ref: '#/components/schemas/CodeChunkGeneratedMetadata'
            - $ref: '#/components/schemas/AudioChunkGeneratedMetadata'
            - $ref: '#/components/schemas/VideoChunkGeneratedMetadata'
            - $ref: '#/components/schemas/ImageChunkGeneratedMetadata'
            discriminator:
              propertyName: type
              mapping:
                audio: '#/components/schemas/AudioChunkGeneratedMetadata'
                code: '#/components/schemas/CodeChunkGeneratedMetadata'
                image: '#/components/schemas/ImageChunkGeneratedMetadata'
                markdown: '#/components/schemas/MarkdownChunkGeneratedMetadata'
                pdf: '#/components/schemas/PDFChunkGeneratedMetadata'
                text: '#/components/schemas/TextChunkGeneratedMetadata'
                video: '#/components/schemas/VideoChunkGeneratedMetadata'
          - type: 'null'
          title: Generated Metadata
          description: metadata of the chunk
          examples:
          - file_size: 1024
            file_type: text/plain
            language: en
            type: text
            word_count: 100
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: model used for this chunk
          examples:
          - text-embedding-ada-002
          - clip-vit-large-patch14
        type:
          type: string
          const: video_url
          title: Type
          description: Input type identifier
          default: video_url
        transcription:
          anyOf:
          - type: string
          - type: 'null'
          title: Transcription
          description: speech recognition (sr) text of the video
          examples:
          - The year 2025 reports for ..
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: summary of the video
          examples:
          - A financial report video for 2025
        video_url:
          anyOf:
          - $ref: '#/components/schemas/VideoUrl'
          - type: 'null'
          description: Video URL
      type: object
      required:
      - chunk_index
      title: VideoUrlInputChunk
    StoreEventListResponse:
      properties:
        pagination:
          $ref: '#/components/schemas/CursorPaginationResponse'
        object:
          type: string
          const: list
          title: Object
          description: The object type of the response
          default: list
        data:
          items:
            oneOf:
            - $ref: '#/components/schemas/StoreIngestionEvent'
            - $ref: '#/components/schemas/StoreSearchEvent'
            - $ref: '#/components/schemas/StoreAgenticSearchEvent'
            discriminator:
              propertyName: type
              mapping:
                agentic_search: '#/components/schemas/StoreAgenticSearchEvent'
                ingestion: '#/components/schemas/StoreIngestionEvent'
                search: '#/components/schemas/StoreSearchEvent'
          type: array
          title: Data
          description: The list of store events
      type: object
      required:
      - pagination
      - data
      title: StoreEventListResponse
    TextInputChunk:
      properties:
        chunk_index:
          type: integer
          title: Chunk Index
          description: position of the chunk in a file
          examples:
          - 0
          - 1
          - 2
          - 3
          - 4
        mime_type:
          type: string
          title: Mime Type
          description: mime type of the chunk
          default: text/plain
          examples:
          - text/plain
        generated_metadata:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MarkdownChunkGeneratedMetadata'
            - $ref: '#/components/schemas/TextChunkGeneratedMetadata'
            - $ref: '#/components/schemas/PDFChunkGeneratedMetadata'
            - $ref: '#/components/schemas/CodeChunkGeneratedMetadata'
            - $ref: '#/components/schemas/AudioChunkGeneratedMetadata'
            - $ref: '#/components/schemas/VideoChunkGeneratedMetadata'
            - $ref: '#/components/schemas/ImageChunkGeneratedMetadata'
            discriminator:
              propertyName: type
              mapping:
                audio: '#/components/schemas/AudioChunkGeneratedMetadata'
                code: '#/components/schemas/CodeChunkGeneratedMetadata'
                image: '#/components/schemas/ImageChunkGeneratedMetadata'
                markdown: '#/components/schemas/MarkdownChunkGeneratedMetadata'
                pdf: '#/components/schemas/PDFChunkGeneratedMetadata'
                text: '#/components/schemas/TextChunkGeneratedMetadata'
                video: '#/components/schemas/VideoChunkGeneratedMetadata'
          - type: 'null'
          title: Generated Metadata
          description: metadata of the chunk
          examples:
          - file_size: 1024
            file_type: text/plain
            language: en
            type: text
            word_count: 100
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: model used for this chunk
          examples:
          - text-embedding-ada-002
          - clip-vit-large-patch14
        type:
          type: string
          const: text
          title: Type
          description: Input type identifier
          default: text
        offset:
          type: integer
          title: Offset
          description: The offset of the text in the file relative to the start of the file.
          default: 0
          examples:
          - 0
          - 13
          - 42
        text:
          anyOf:
          - type: string
          - type: 'null'
          title: Text
          description: Text content
        context:
          anyOf:
          - type: string
          - type: 'null'
          title: Context
          description: LLM-generated context that situates this chunk within its source document
          examples:
          - This chunk is from an SEC filing on ACME corp's Q2 2023 performance.
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: summary of the text chunk
          examples:
          - A short overview of ACME's Q2 2023 performance.
      type: object
      required:
      - chunk_index
      title: TextInputChunk
    Store:
      properties:
        id:
          type: string
          title: Id
          description: Unique identifier for the store
          examples:
          - 1b8b486e-16d0-400b-8868-04cd75217a7e
        name:
          type: string
          maxLength: 128
          minLength: 1
          title: Name
          description: Name of the store
          examples:
          - customer-support-kb
          - product-documentation
        description:
          anyOf:
          - type: string
            maxLength: 256
          - type: 'null'
          title: Description
          description: Detailed description of the store's purpose and contents
          examples:
          - Contains customer support articles and FAQs
        is_public:
          type: boolean
          title: Is Public
          description: Whether the store can be accessed by anyone with valid login credentials
          default: false
          examples:
          - false
        license:
          anyOf:
          - type: string
          - type: 'null'
          title: License
          description: License for public stores
        metadata:
          anyOf:
          - {}
          - type: 'null'
          title: Metadata
          description: Additional metadata associated with the store
          examples:
          - category: support
            language: en
        config:
          anyOf:
          - $ref: '#/components/schemas/StoreConfig'
          - type: 'null'
          description: Store-level configuration defaults
        file_counts:
          $ref: '#/components/schemas/FileCounts'
          description: Counts of files in different states
        expires_after:
          anyOf:
          - $ref: '#/components/schemas/ExpiresAfter'
          - type: 'null'
          description: Optional expiration policy
        status:
          $ref: '#/components/schemas/StoreStatus'
          description: Processing status of the store
          default: completed
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the store was created
          examples:
          - '2024-01-01T00:00:00Z'
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Timestamp when the store was last updated
          examples:
          - '2024-01-01T00:00:00Z'
        last_active_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Active At
          description: Timestamp when the store was last used
        usage_bytes:
          type: integer
          title: Usage Bytes
          description: Total storage usage in bytes
          default: 0
          examples:
          - 1024000
        usage_tokens:
          type: integer
          title: Usage Tokens
          description: Total storage usage in tokens
          default: 0
          examples:
          - 1024000
        expires_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expires At
          description: Optional expiration timestamp for the store
          examples:
          - '2024-01-01T00:00:00Z'
        object:
          type: string
          const: store
          title: Object
          description: Type of the object
          default: store
      type: object
      required:
      - id
      - name
      - created_at
      - updated_at
      title: Store
      description: Model representing a store with its metadata and timestamps.
    StoreListChunksResponse:
      properties:
        object:
          type: string
          const: list
          title: Object
          description: The object type of the response
          default: list
        data:
          items:
            oneOf:
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredTextInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredImageUrlInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredAudioUrlInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredVideoUrlInputChunk'
            discriminator:
              propertyName: type
              mapping:
                audio_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredAudioUrlInputChunk'
                image_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredImageUrlInputChunk'
                text: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredTextInputChunk'
                video_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredVideoUrlInputChunk'
          type: array
          title: Data
          description: The list of chunks matching the metadata filters
      type: object
      required:
      - data
      title: StoreListChunksResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ChunkSearchResultRule:
      properties:
        query:
          type: string
          title: Query
          description: The query to trigger the rule
        store_id:
          type: string
          title: Store Id
          description: The store identifier to apply the rule to
        type:
          type: string
          const: chunk_search_result
          title: Type
          description: The type of substitution
        file_id:
          type: string
          title: File Id
          description: The file ID of the chunk to substitute
        chunk_index:
          type: integer
          minimum: 0.0
          title: Chunk Index
          description: The index of the chunk to substitute
        result_index:
          type: integer
          minimum: 0.0
          title: Result Index
          description: The index where the result will be inserted
      type: object
      required:
      - query
      - store_id
      - type
      - file_id
      - chunk_index
      - result_index
      title: ChunkSearchResultRule
      description: Represents a chunk search result rule for a vector store search.
    ImageUrl-Output:
      properties:
        url:
          type: string
          title: Url
          description: The image URL. Can be either a URL or a Data URI.
        format:
          type: string
          title: Format
          description: The image format/mimetype
          default: ''
      type: object
      required:
      - url
      title: ImageUrl
      description: Model for image URL validation.
    mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleResponse:
      properties:
        id:
          type: string
          title: Id
          description: The search rule ID
        object:
          type: string
          const: search_rule
          title: Object
          description: The object type
          default: search_rule
        query:
          type: string
          title: Query
          description: The query pattern
        store_id:
          type: string
          title: Store Id
          description: The store ID
        rules:
          items:
            oneOf:
            - $ref: '#/components/schemas/QueryStringSubstitutionRule'
            - $ref: '#/components/schemas/QueryRegexSubstitutionRule'
            - $ref: '#/components/schemas/ChunkSearchResultRule'
            - $ref: '#/components/schemas/FileSearchResultRule'
            description: The possible rules for a vector store search
            discriminator:
              propertyName: type
              mapping:
                chunk_search_result: '#/components/schemas/ChunkSearchResultRule'
                file_search_result: '#/components/schemas/FileSearchResultRule'
                query_regex: '#/components/schemas/QueryRegexSubstitutionRule'
                query_string: '#/components/schemas/QueryStringSubstitutionRule'
          type: array
          title: Rules
          description: The rules to apply
        created_at:
          type: string
          format: date-time
          title: Created At
          description: When the rule was created
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: When the rule was last updated
      type: object
      required:
      - id
      - query
      - store_id
      - rules
      - created_at
      - updated_at
      title: SearchRuleResponse
      description: Response model for a store search rule.
    StoreIngestionEvent:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier for the event
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the event was created
        type:
          type: string
          const: ingestion
          title: Type
          default: ingestion
        store_id:
          type: string
          format: uuid
          title: Store Id
          description: ID of the vector store
        store_file_id:
          type: string
          title: Store File Id
          description: ID of the vector store file
        total_time:
          type: string
          format: duration
          title: Total Time
          description: Total time taken to ingest the file, including queue time
        queue_time:
          type: string
          format: duration
          title: Queue Time
          description: Time spent in the queue
        ingestion_time:
          type: string
          format: duration
          title: Ingestion Time
          description: Time taken to ingest the file, excluding queue time
        chunk_count:
          type: integer
          title: Chunk Count
          description: Number of chunks ingested
        contextualization:
          type: boolean
          title: Contextualization
          description: Whether contextualization was used
        mode:
          $ref: '#/components/schemas/StoreFileParsingStrategy'
          description: Strategy used to ingest the file
        filename:
          anyOf:
          - type: string
          - type: 'null'
          title: Filename
          description: Name of the file if the event is tied to a file
      type: object
      required:
      - id
      - created_at
      - store_id
      - store_file_id
      - total_time
      - queue_time
      - ingestion_time
      - chunk_count
      - contextualization
      - mode
      title: StoreIngestionEvent
      description: Represents an ingestion event in a vector store.
    StoreFileStatus:
      type: string
      enum:
      - pending
      - in_progress
      - cancelled
      - completed
      - failed
      title: StoreFileStatus
    StoreQAResults:
      properties:
        answer:
          type: string
          title: Answer
          description: The answer generated by the LLM
        sources:
          items:
            oneOf:
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredTextInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredImageUrlInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredAudioUrlInputChunk'
            - $ref: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredVideoUrlInputChunk'
            discriminator:
              propertyName: type
              mapping:
                audio_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredAudioUrlInputChunk'
                image_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredImageUrlInputChunk'
                text: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredTextInputChunk'
                video_url: '#/components/schemas/mxbai_omni__core__store__models__chunk_types__ScoredVideoUrlInputChunk'
          type: array
          title: Sources
          description: Source documents used to generate the answer
      type: object
      required:
      - answer
      title: StoreQAResults
      description: Results from a question answering operation.
    mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleSpecificDeleted:
      properties:
        id:
          type: string
          title: Id
          description: The search rule ID
        object:
          type: string
          const: search_rule
          title: Object
          description: The object type
          default: search_rule
        deleted_rule:
          oneOf:
          - $ref: '#/components/schemas/QueryStringSubstitutionRule'
          - $ref: '#/components/schemas/QueryRegexSubstitutionRule'
          - $ref: '#/components/schemas/ChunkSearchResultRule'
          - $ref: '#/components/schemas/FileSearchResultRule'
          title: Deleted Rule
          description: The specific rule that was deleted
          discriminator:
            propertyName: type
            mapping:
              chunk_search_result: '#/components/schemas/ChunkSearchResultRule'
              file_search_result: '#/components/schemas/FileSearchResultRule'
              query_regex: '#/components/schemas/QueryRegexSubstitutionRule'
              query_string: '#/components/schemas/QueryStringSubstitutionRule'
        remaining_rules:
          type: integer
          title: Remaining Rules
          description: Number of rules remaining in the array
      type: object
      required:
      - id
      - deleted_rule
      - remaining_rules
      title: SearchRuleSpecificDeleted
      description: Response model for a specific deleted rule from a search rule array.
    AgenticSearchConfig:
      properties:
        max_rounds:
          type: integer
          maximum: 10.0
          minimum: 1.0
          title: Max Rounds
          description: Maximum number of search rounds
          default: 3
        queries_per_round:
          type: integer
          maximum: 10.0
          minimum: 1.0
          title: Queries Per Round
          description: Maximum queries per round
          default: 4
        strict_top_k:
          type: boolean
          title: Strict Top K
          description: Whether the final retrieved chunk list must provide exactly top_k ranked chunks
          default: false
        media_content:
          type: string
          enum:
          - auto
          - never
          - always
          title: Media Content
          description: Controls when retrieved image content is provided to the agent. `auto` sends images only when no OCR text or summary is available, `never` disables image content, and `always` sends image content when available.
          default: auto
        instructions:
          anyOf:
          - type: string
            maxLength: 5000
            minLength: 1
          - type: 'null'
          title: Instructions
          description: Additional custom instructions (followed only when not in conflict with existing rules)
        verbose:
          type: boolean
          title: Verbose
          description: 'Internal: when set, the response includes a `trace` field with the full tool-call timeline. Used by the Mixedbread playground; not part of the documented public API.'
          default: false
      type: object
      title: AgenticSearchConfig
      description: Configuration for agentic multi-query search.
    StoreAgenticSearchEvent:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier for the event
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the event was created
        type:
          type: string
          const: agentic_search
          title: Type
          default: agentic_search
        store_ids:
          items:
            type: string
            format: uuid
          type: array
          title: Store Ids
          description: IDs of the vector stores searched
        started_at:
          type: string
          format: date-time
          title: Started At
          description: Time when the agentic search began
        search_time:
          type: string
          format: duration
          title: Search Time
          description: Total wall-clock time of the agent loop
          default: PT0S
        query:
          type: string
          title: Query
          description: Original query submitted by the user
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
          description: Custom instructions provided with the agentic search, if any
        ranking_strategy:
          anyOf:
          - type: string
          - type: 'null'
          title: Ranking Strategy
          description: Agent-submitted explanation of how chunks were ranked
        rounds_executed:
          type: integer
          title: Rounds Executed
          description: Number of search rounds the agent executed
          default: 0
        filters:
          anyOf:
          - $ref: '#/components/schemas/SearchFilter-Output'
          - $ref: '#/components/schemas/SearchFilterCondition'
          - items:
              anyOf:
              - $ref: '#/components/schemas/SearchFilter-Output'
              - $ref: '#/components/schemas/SearchFilterCondition'
            type: array
          - type: 'null'
          title: Filters
          description: Metadata filters submitted with the search request
        token_usage:
          $ref: '#/components/schemas/AgenticSearchTokenUsage'
          description: Token usage and cost for LLM calls during the agentic search
        tool_calls:
          items:
            $ref: '#/components/schemas/AgenticToolCall'
          type: array
          title: Tool Calls
          description: Ordered tool calls issued by the agent
        results:
          items:
            $ref: '#/components/schemas/StoreSearchEventResult'
          type: array
          title: Results
          description: Chunks returned by the agentic search
      type: object
      required:
      - id
      - created_at
      - store_ids
      - started_at
      - query
      title: StoreAgenticSearchEvent
      description: 'Represents an agentic search trace in a vector store.


        Unlike StoreSearchEvent, this captures the full sequence of tool calls the

        agent issued (name, arguments, result) so developers can inspect what the

        agent did, along with the token usage and cost.'
    MultiModalQuery:
      anyOf:
      - type: string
        minLength: 1
        description: The text input document to create embeddings for.
        examples:
        - This is a sample text input.
      - oneOf:
        - $ref: '#/components/schemas/ImageUrlInput'
        - $ref: '#/components/schemas/TextInput'
        description: The input to create embeddings for.
        discriminator:
          propertyName: type
          mapping:
            image_url: '#/components/schemas/ImageUrlInput'
            text: '#/components/schemas/TextInput'
    StoreFileDeleted:
      properties:
        id:
          type: string
          title: Id
          description: ID of the deleted file
        deleted:
          type: boolean
          title: Deleted
          description: Whether the deletion was successful
          default: true
        object:
          type: string
          const: store.file
          title: Object
          description: Type of the deleted object
          default: store.file
      type: object
      required:
      - id
      title: StoreFileDeleted
      description: Response model for file deletion.
    StoreFileListResponse:
      properties:
        pagination:
          $ref: '#/components/schemas/CursorPaginationResponse'
        object:
          type: string
          const: list
          title: Object
          description: The object type of the response
          default: list
        data:
          items:
            $ref: '#/components/schemas/StoreFile'
          type: array
          title: Data
          description: The list of store files
      type: object
      required:
      - pagination
      - data
      title: StoreFileListResponse
    Body_upload_store_file:
      properties:
        file:
          type: string
          format: binary
          title: File
          description: The file to upload and index
        params:
          anyOf:
          - type: string
          - type: 'null'
          title: Params
      type: object
[...]
